################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/OpendataApi_LCMR/.vs
/OpendataApi_LCMR/obj
/OpendataApi_LCMR/bin/Debug
/LCMRCommon/bin/Debug
/LCMRCommon/obj
